.header-div{
    width: 100%;
    height: 158px;
    background-color: black;
    display: flex;
    align-items: center;
}
.header-div-inside{
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
}
.language{
    border: none;
    color: white;
    background-color: black;
    font-size: 24px;
    
}
.contact{
    width: 134px;
    height: 36px;
    background-color: #FF7420;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-div-inside{
    max-width: 1513px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    align-items: center;
    margin: 0 auto;
    font-size: 24px;
}
.ul-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}
.ul-item li:hover{
    padding: 19px 0;
    border-bottom: #FF7420 solid 3px;
}


.nav-item{
    width: 505px;
    

}
.header-div-inside h2{
    color:#FF7420 ;
    font-size: 40.98px;
}
.buttons{
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.fa-solid.fa-bars{
    color: white;
    display: none;
    font-size: 40px;
}

/* 1st Section */
.wraper01{
    background-image: url('../img/first.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 936px;  
    padding-left: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box1,
.box2{
    width: 246px;
    height: 66px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    background-color: #FF7420;
    color: white;
    column-gap: 10px;
}
.box2{
    background-color: white;
    color: black;
}
.text-box{
    color: white;
    max-width: 587px;
    width: 35%;
}
.text-box h3{
    font-size: 64px;
}
.text-box p{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 85px;
}
.buttons2{
    display: flex;
    column-gap: 24px;
}

/* 2nd Section */
.wraper02{
    width: 100%;
    background-color:#FF7420 ;
    padding-top: 54px;
    padding-bottom: 55px;
}
.second-ul{
    display:flex;
    column-gap: 24px;
}
.upper-div{
    max-width: 1318px;
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upper-div h4{
    font-size: 64px;
}
.container{
    display: flex;
    column-gap: 19px;
    max-width: 1319px;
    width: 90%;
    height: auto;
    margin: 49px auto 32px auto;
 
}
.container-box:nth-child(1){
    background-image: url('../img/building1.jpg');
}
.container-box:nth-child(2){
    background-image: url('../img/building2.jpg'); 
}
.container-box:nth-child(3){
    background-image: url('../img/building3.jpg');
}
.container-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 485px;
    height: 613px;  
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    row-gap: 3px;
    padding-bottom: 22px;
}
.explore{
    width: 251px;
    height: 50px;
    padding: 10px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}